@model IEnumerable<BrandModel>

<div class="brand-component">
  
    <ul class="list-group shadow-sm border-0">
        @if (Model != null && Model.Any())
        {
            @foreach (var item in Model)
            {
                <li class="list-group-item border-0 py-2">
                    <a asp-action="Index"
                       asp-controller="Brand"
                       asp-route-Slug="@item.Slug"
                       class="text-dark text-decoration-none hover-primary">@item.Name</a>
                </li>
            }
        }
        else
        {
            <li class="list-group-item border-0 py-2 text-muted">Chưa có thương hiệu nào.</li>
        }
    </ul>
</div>

